<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale =1.0" />

	<title> 3xSolutions </title>

	<link rel="stylesheet" href="BackGroundStyles.css" />
	<link rel="stylesheet" href="FormsStyle.css" />

</head>

