{% extends "_layouts/auth.njk" %}

	{% block body %}
	
	<form action="/" method="get">
		<button type="submit" class="over"> Home </button>
	</form>	
		
	<p>Email Encontrado,<span>{{email}}</span> </p>
	
	{% endblock %}
